<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet"  type="text/css" href="{{ url_for('static',filename='result.css') }}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="card shadow-sm p-3 mb-5 bg-white rounded" style="margin-right: 20px; margin-left: 20px;align-content: center;">
        <div class="card-body">
          <h5 class="card-title"><b>Phone:</b> {{cand['phone']}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{cand['email']}}</h6>
          <p class="card-text mb-2 text-info"><b>Linkedin:</b> {{cand['linkedin']}}</p>
          <p class="card-text"><b>Years of Experience:</b> {{cand['exp_years']}}</p>
          <p class="card-text"><b>Duration/Roles:</b> {{cand['duration']}}</p>
        </div>

      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Technical Skills
              </button>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              {% autoescape false %}
              <p>{{skill}}</p>
              {% endautoescape %}
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Professional Experience
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              {% autoescape false %}
              <p>{{exp}}</p>
              {% endautoescape %}
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Download Complete Resume
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              <a href="{{ url_for('download', filename=download)}}" class="card-link"><b>Download Resume</b></a>
            </div>
          </div>
        </div>
      </div>
      </div>
</body>
</html>