<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 1.8;
}
/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    /*background-image: url("30.jpg");*/
    background-color: black;
    min-height: 100%;
}
.w3-bar .w3-button {
    padding: 16px;
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <!-- Right-sided navbar links -->
    <div class="w3-right">
        <a href="{{ url_for('login') }}" class="w3-bar-item w3-button"><i class="fa"></i>CANDIDATE LOGIN</a>
    </div>

  </div>
</div>


<!-- Contact Section -->
<div  id="home" class="w3-container w3-light-grey" style="padding:60px 16px" id="contact">
  <h3 class="w3-center">REGISTER</h3>

  <!-- <p class="w3-center w3-large">Lets get in touch. Send us a message:</p>
  <div class="w3-row-padding" style="margin-top:64px"> -->
    <div class="w3-container">
      <h3>FOR CANDIDATES</h3>
      <br>
      <form class="w3-container w3-row" id="upload-file" method="POST" enctype="multipart/form-data" style="text-align: left;; margin-top: 0px;" action="{{url_for('upload_resume')}}">
        <a style="cursor: pointer;">
        <div class="file-field">
          <div class="w3-button w3-blue"  style="cursor: pointer;">
          <span style="cursor: pointer;">Select your resume</span>
          <input type="file" name="file" style="width: auto;cursor: pointer;" multiple>
          </div>
        </div>
        </a>
        <button class="w3-button w3-green w3-round" type="submit" form="upload-file" style="margin-top: 10px;">
          Upload resume
          <span class="spinner-border spinner-border-sm" role="status" id="img" aria-hidden="true" style="visibility: collapse;"></span>
          </button>
          {% if total %}
              <p style="text-align: left;"><b>{{total}}</b></p>
          {% endif %}
        </form>

      <form action="{{url_for('register_form')}}" method="POST" enctype="multipart/form-data">      
        <p><input class="w3-input w3-border" type="text" placeholder="Username"  name="username"></p>
        <p><input class="w3-input w3-border" type="password" placeholder="Password"  name="pwd"></p>
        <!-- <p><input class="w3-input w3-border" type="text" placeholder="Company ID"  name="comp_id"></p> -->
        <p><input class="w3-input w3-border" type="text" placeholder="Name"  name="name"></p>
        <p><input class="w3-input w3-border" type="text" placeholder="Age"  name="age"></p>
        <p><input class="w3-input w3-border" type="text" placeholder="Gender"  name="sex"></p>
        <p><input class="w3-input w3-border" type="text" placeholder="Domain"  name="domain"></p>
        <p><input class="w3-input w3-border" type="text" placeholder="Preferences"  name="pref"></p>
        <p><input class="w3-input w3-border" type="text" placeholder="Experience"  name="exp"></p>
        <p><input class="w3-input w3-border" type="text" placeholder="Education" name="edu"></p>
        {% if path %}
              <input type="hidden" name="path" value="{{path}}">
          {% endif %}
            <p>
          <button class="w3-button w3-round w3-black" type="submit">
            <i class="fa"></i> SUBMIT
          </button>
        </p>
      </form>
    </div>



<script>
  function loader() {
	document.getElementById("img").style.visibility="visible"
}


// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>

</body>
</html>