<!DOCTYPE html>
<html>
<head>
	<h2 style="text-align: center;">RESUME PARSER</h2>
	<title>
		HOME
	</title>

	<link rel="stylesheet"  type="text/css" href="{{ url_for('static',filename='search.css') }}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>



</head>
<body style="font-size: 15px;" id="body">
	<div class="loading" id="loading_full" style="visibility: collapse;">Loading&#8230;</div>
<br>

    <form class="md-form" id="upload-file" method="post" enctype="multipart/form-data" style="text-align: center;" action="/search">
		<a style="cursor: pointer;">
		<div class="file-field">
		  <div class="btn btn-info btn float-center" style="cursor: pointer;">
			<span style="cursor: pointer;">Select Resumes</span>
			<input type="file" name="file" style="width: auto;cursor: pointer;" multiple>
		  </div>
		</div>
		</a>
		<button class="btn-sm btn-success" type="submit" onclick="loader()" style="margin-top: 10px;">
			Upload resumes
			<span class="spinner-border spinner-border-sm" role="status" id="img" aria-hidden="true" style="visibility: collapse;"></span>
		  </button>
	  </form>
		
{% if total %}
  <p style="text-align: center;"><b>{{total}}</b></p>
{% endif %}
   <!--
	<div class = "form_path" style="text-align: center;">
	<form method="POST" action="/search" id = "path">
		<label>Path: </label>
		{% if path %}
		<input type="text" name="path_to" readonly required placeholder="Resume Folder Path" value="{{path}}" id="path_to" class="form-input" style="width: 300px;">
		{% endif %}
  <button type="button" value="Edit" id="edit" onclick="change_edit()" class='btn-sm btn-info'>Edit</button>
  <button type="button" class='btn-sm btn-success' id="save_path">Save</button>
  <div class="spinner-border" role="status" style="visibility: collapse;" id="loader">
	<span class="sr-only">Loading...</span>
  </div>
  </form>
  <div id = "div1"></div>

  {% if success %}
  <p><b>{{success}}</b></p>
  {% endif %}
  {% if total %}
  <p><b>Resumes found {{total}}</b></p>
  {% if duplicate %}
  <p><b>{{duplicate}} / {{total}} duplicates resumes found..</b></p>
  {% endif %}
  {% endif %}
  {% if error %}
  <p><b>{{error}}</b></p>
  {% endif %}
  </div>
  -->

<form class = "form_search" id="resume_search" action="/result" method="POST">
<div id="input_forsearch">
<div class="skill_input" style="margin: 30px">
	<h5>Technical Skills: </h5>
	<br>
	<div id="container_skillsearch">
	<div class="row">
		<div class="skill_label">
		<p>Tech Skill 1: </p>
	    </div>
	<input name="skill" id="skill" class="form-control" style="width: 30%; height: 35px; text-align: left; margin-left: 10px;"> 
		<!--  
		 <label style="margin-left: 10px;" for="skill_exp">Experience: </label>
		 <select name="skill_exp" id="skill_exp" style="width: 25%; margin-left: 10px; height: 35px;" class="form-control"><option value="0">-Any-</option><option value="1">less than 1 year</option><option value="2">1 year &amp; above</option><option value="3">2 years &amp; above</option><option value="4">3 years &amp; above</option><option value="5">4 years &amp; above</option><option value="6">5 years &amp; above</option></select> -->
	</div>
	<div class="error" id="errorITSkills0"></div>
    </div>
<div class="add_moreskills"></div>
	<div style="margin-top: 10px;">
		<a href="#" onclick="generateSkill();">Add more Technical Skills</a>
	</div>
   <br>
	<div class="row">
		<label>Show Resumes with: </label>
	<span class="font10">
		<div class="input-group">
		<input name="skill_condition" type="radio" class="radio" style="margin-top:3px; margin-left: 5px; margin-right: 5px;" value="0" checked="">Any of the Skills
		<input name="skill_condition" type="radio" class="radio" style="margin-top:3px; margin-left: 5px;margin-right: 5px;" value="1">All the Skills
		<span style="margin-left:20px;"><input name="skill_full" id="skill_full" type="checkbox" class="checkbox" value="1" style="margin-right: 5px;">Search Technical Skills in the Entire Resume  
		</span>
	</div>
	</span>
		</div>
</div>
	<div class="expyearinput" style="margin-left: 30px; border: 5px; border-color: black;">
		<h5>Years of Experience: </h5>
		<br>
		<div class="row" style="vertical-align: middle;" >
		<label for="min_expyear">Total Experience:</label>
		<input type="number" name="min_expyear" class="form-control" id="min_expyear" size="6" maxlength="5" value="" style="width: 100px; margin-left: 10px;">
		<label for="max_expyear" style="margin-left: 10px; margin-right: 10px;">to</label>
		<input type="number" name="max_expyear" class="form-control" id="max_expyear" size="6" maxlength="5" value="" style="width: 100px;" > <label>(in years)</label>
		</div>
	</div>
	<div class="keywordinput" style="margin: 30px; border: 5px; border-color: black;">
		<h5>Other Keywords: </h5>
		<br>
		<div class="row">
		<div class="input-group">
		<label for="any_key">Any of the keywords:</label>
		<input type="text" name="any_key" class="form-control" id="any_key" value="" style="margin-left: 10px; margin-right: 10px; width: 30%;"> 
		<br>
		<label for="all_key">All the keywords:</label>
		<input type="text" name="all_key" class="form-control" id="all_key"  value="" style="margin-left: 10px; margin-right: 10px; width: 30%;"> 
		</div>
		</div>
		</div>
	</div>
</div>
<input type="hidden" name="total" class = "total" id="total" value="1">
<div class="button_center" style="text-align: center;">

<button type="submit" form="resume_search" value="Submit"  class='btn-lg btn-dark' onclick="full_load()">Find Resumes</button>
</div>
</form>


<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>


<script>
window.onload=function(){localStorage.setItem("home_page", location.href)}

function go_back(){
 window.location.href = localStorage.getItem("home_page")
 console.log(window.location.href)

 };
console.log(location.href)
var count=1, limit=2;


function change_edit() {
	path = document.getElementById('path_to');
	path.readOnly=false;
}
function generateSkill() {
	container = document.getElementsByClassName('add_moreskills')[0]
	container.appendChild(document.createElement("br"))
	skill = document.createElement('div')
	skill_label = document.createElement('P')
	skill_label.innerHTML = "Tech Skill " + String(count + 1) + ":"
	skill.setAttribute('class',"row")
	row = document.getElementsByClassName("row")[0]
	skill.innerHTML = row.innerHTML
	skill.getElementsByClassName("skill_label")[0].innerHTML = skill_label.innerHTML
	console.log(skill.innerHTML)
	container.appendChild(skill)
	count = count + 1
	document.getElementById("total").value = String(count);
}

function loader() {
	document.getElementById("img").style.visibility="visible"
	document.getElementById("body").style.pointerEvents="none"

}
function full_load() {
		document.getElementById("loading_full").style.visibility="visible"
		document.getElementById("body").style.pointerEvents="none"

}


document.getElementById("resume_search").onkeypress = function(e) {
  var key = e.charCode || e.keyCode || 0;     
  if (key == 13) {
    e.preventDefault();
  }
}
function make_unres() {
	document.getElementById("body").style.pointerEvents="none"
}

/*
$(document).ready(function(){
  $("#save_path").click(function(){
	  console.log("save_path clicked");
	  document.getElementById("loader").style.visibility="visible"
	  document.getElementById("save_path").value = "Saving..."
	  document.getElementById("save_path").disabled=true

	  $.post("/check_path",
		{
			path_to: $("#path_to").val()
		},
		function(data){
			document.getElementById("div1").innerHTML = null
			document.getElementById("loader").style.visibility="collapse"
			document.getElementById("save_path").disabled=false
			var node1 = document.createTextNode(String(data.output))
			var p = document.createElement("p")
			p.style.fontWeight="bold"
			p.appendChild(node1)
			document.getElementById("div1").appendChild(p)
			if (String(data.dup)!="null") {
			var node2 = document.createTextNode(String(data.dup))
			var p = document.createElement("p")
			p.style.fontWeight="bold"
			p.appendChild(node2)
			document.getElementById("div1").appendChild(p)
			}
		});

  });
});


  document.getElementById("filepicker").addEventListener("change", function(event) {
  let output = document.getElementById("listing");
  let files = event.target.files;
  all_files=[]
  for (let i=0; i<files.length; i++) {
    let item = document.createElement("li");
    item.innerHTML = files[i].webkitRelativePath;
	all_files.push(files[i])
	console.log(files[i])
	console.log(readFile(files[i]))
    output.appendChild(item);
  };
 
  dataToSend = JSON.stringify({ 'list': all_files});

  $.ajax({
          url: '/upload_files',
          type: 'POST',
          dataType: "json",
          data: dataToSend,
          success: function (data) {
			document.getElementById("div1").innerHTML = null
			document.getElementById("loader").style.visibility="collapse"
			document.getElementById("save_path").disabled=false
			var node1 = document.createTextNode(String(data.output))
			var p = document.createElement("p")
			p.style.fontWeight="bold"
			p.appendChild(node1)
			document.getElementById("div1").appendChild(p)
          }
      });
}, false);
*/


</script>
</html>